// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #EEEEEE !default;
$navbar-default-bg:                #7FC384 !default;
$navbar-default-border:            darken($navbar-default-bg, 15.5%) !default;

// Navbar links
$navbar-default-link-color:                #E2E2E2 !default;
$navbar-default-link-hover-color:          #BFBFBF !default;
$navbar-default-link-hover-bg:             #5DA362 !default;
$navbar-default-link-active-color:         #BCBCBC !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 15.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;





 